title {font-size: 14;font-style:normal;background-color: red;
}

class={background-color: blue}
h1{font-weight: bold;font-size: 10;font-style: normal; color: red;
}

h2{font-weight: bold;font-size: 10;font-style: normal; color: blue;
}

h3{font-weight: bold;font-size: 10;font-style: normal; color:orange;
}
